@import "../../app/styles/variables.scss";

.wrapper {
  margin: 0 auto;
  margin-top: 30px;
  max-width: 100%;

  background-color: $bg-list;
  border: $border;
  border-radius: 8px;

  box-shadow: 0 0 30px rgba(#000, .1);
  box-sizing: border-box;
  margin: 40px auto 10px;
  overflow: hidden;
}

.list {
  padding: 0;
  margin: 0;
}

.list-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary;
  color: $white;
  letter-spacing: 0.1rem;
}
