@import "../../app/styles/variables.scss";

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 18px;
}

.list-item:nth-child(2n) {
  background-color: $bg-secondary;
}