@import "../../app/styles/variables.scss";

.stats-block {
  display: flex;
  justify-content: space-evenly;
  margin: 30px 0 24px;
  
  @include mobile {flex-wrap: wrap; gap: 3px; margin-top: 20px;}
}

.link-btn {
  text-decoration: none;
  color: $white;
  display: block;
  width: 80px;
  text-align: center;
  background-color: $primary;
}

.link-btn:hover {
  background-color: $primary-hover;
}

.chart-loader {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}